:root {
    --body-background-color: #ffffff;
    --slate-color: #434455;
    --navy-blue-color: #2E2F42;
    --ocean-color: #404BBF;
    --iris-color: #4D5AE5;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC
}

body {
    font-family: Roboto, sans-serif;
    /* font-size: 16px; */
    color: var(--navy-blue-color);
    background-color: var(--body-background-color);
}

h1,
h2, 
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

img {
    display: block;
}

/* Logo */
.logo-part-one {
    color: var(--iris-color);
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.logo-part-two-header {
    color: var(--navy-blue-color);
}

.logo-part-two-footer {
    color: var(--cloud-color);
}

/* Navigation */
.navigation {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link {
    font-weight: 500;
    color: var(--navy-blue-color);
}

.nav-link-active {
    color: var(--ocean-color);
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
}

.menu-items {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.contact-link {
    color: var(--slate-color);
}

.contact-items {
    display: flex;
    align-items: center;
}

.contact-item:not(:last-child) {
    margin-right: 40px;
}

/* Studio Page Header */
.studio-page-header {
    background-color: var(--navy-blue-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.studio-page-header-content {
    width: 496px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.page-header-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--body-background-color);
    text-align: center;
}

.page-header-btn {
    font-size: 16px;
    color: var(--body-background-color);
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}

/* Footer */
.page-footer {
    background-color: var(--navy-blue-color);
}

.footer-descript {
    color: var(--cornflower-color);
}

/*---Links---*/
.link {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
    color: var(--ocean-color);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

/*---Buttons---*/
.btn {
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
}

.page-header-btn:hover,
.page-header-btn:focus {
    background-color: var(--ocean-color);
}

.filter-btn {
    color: var(--iris-color);
    background-color: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--body-background-color);
    background-color: var(--ocean-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Features section */
.features {

}

.features-card-items {
    display: flex;
}

/* Directions section - What Are We Doing */
.direction-items {
    display: flex;
}

/* Our Teams */
.team {
    background-color: var(--cloud-color);
}

.team-card-items {
    display: flex;
}

/* Portfolio */
.portfolio {

}

.filter-items {
    display: flex;
    justify-content: center;
}

.filter-item {

}

.portfolio-card-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-card-item {

}

/*---Cards---*/
.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.card-descript {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*---Parts---*/
.part-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/*--Sergey Korobka - Part hidden--*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ========== */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}